{{ $columns := .config.columns | default 2 }}
{{ $len := .config.len | default 2 }}
{{/* NOTE: dynamic `md:grid-cols-{{$columns}}` class requires Tailwind exception */}}




<div class="container px-0 mx-auto xl:px-5 py-5 lg:py-8 max-w-3xl w-full">
  
  {{ $page := .page }}
  <!-- Team Photo Section -->
  {{ with $page.Params.team_photo }}
    <div class="team-photo" style="margin-bottom: 2rem; text-align: center;">
    <img src="{{ . | relURL }}" alt="Team Photo" style="max-width: 100%; height: auto; border-radius: 8px; display: block; margin: 0 auto;">
    </div>
  {{ end }}
  
  <div class="grid gap-10 md:grid-cols-{{$columns}} lg:gap-10">
