{{ $item := .item }}
{{ $link := $item.RelPermalink }}
{{ $target := "" }}

{{ $resource := partial "functions/get_featured_image.html" $item }}
{{ $anchor := $item.Params.image.focal_point | default "Center" }}

<a href="{{ $link }}" {{ $target | safeHTMLAttr }} class="mb-5 w-full max-w-2xl mx-auto">
  <div class="flex flex-col bg-white rounded-lg shadow-lg">
    <div>
      {{ with $resource }}
        {{ $image := .Resize (printf "655x368 %s" $anchor) }}
        {{ if ne $image.MediaType.SubType "gif" }}{{ $image = $image.Process "webp" }}{{ end }}
        <img class="w-full h-20 rounded-t-lg hover:scale-105 transition duration-300 cursor-pointer" loading="lazy" src="{{ $image.RelPermalink }}" height="{{ $image.Height }}" width="{{ $image.Width }}" alt="{{ $item.Title | plainify }}">
      {{ end }}
    </div>
    <div class="p-4">
      <div class="uppercase tracking-wide text-md text-primary-700 dark:text-primary-200 font-semibold">{{ $item.Title }}</div>
      <p class="mt-2 text-sm leading-tight font-medium text-black dark:text-white">
        {{ ($item.Params.summary | default $item.Summary) | plainify | htmlUnescape | chomp }}
      </p>
    </div>
  </div>
</a>
